* {
  box-sizing: border-box;
  font-size: 10;
}
@font-face {
  font-family: "myriad";
  src: url("../fonts/myriad.otf");
}
p {
  color: #545F66;
  font-family: "myriad";
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
}

blockquote {
  color: #297AB9;
  font-size: 30px;
  margin-left: 0;
  text-transform: uppercase;
  border-left: 2px solid #CDCDCD;
  padding-left: 12px;
  font-family: "myriad";
  line-height: 60px;
}
.clearfix {
  clear:both;
}
button {
  border: none;
  font-family: "myriad";
  color: #fff;
  padding: 0;
  img{
    background-color: #5E686F;
    padding: 7px;
    display:inline-block;
    vertical-align: middle;
  }
  span{
    display: inline-block;
    padding: 0 10px;
}
  &:hover {
    background-color: #106DB3;
    img {
      background-color: #0A3553;
    }

  }
}
//header//

header {
  height: 524px;
  background: url(../assets/header.jpg) no-repeat center center transparent;
  background-size: center;

    .headerTop {
    width: 254px;
    height: 48px;
    margin: 12px 140px;
    padding-top: 10px;
    color: white;
    display: inline-block;

    }
    .websiteUrl  {
      font-family: "myriad";
      float: right;
      font-size: 17px;
      color: #07304B;
      font-weight: bold;
      p{
        color:#083451;
      }
    }
    li {
      list-style-type: none;
    }
    nav a {
      color: #05283E;
      font-size: 18px;
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
      text-align: right;



    }
nav {
  display: inline-block;
  padding-top: 20px;
  float: right;
  margin-right: 120px;
   li{
     display: inline-block;
     margin-right: 12px;

   }
}
h1 {

  font-size: 105px;
  font-weight: lighter;
  color: #083451;
  text-align: center;
  font-family: "myriad";
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  padding-top: 130px;
  line-height: 105px;
}
.headinfo {
  text-align: center;
  color: #093756;
  font-family: "myriad";
  margin: 0;

}
}
//main//

main {
  section{
    max-width: 980%;
    width: 80%;
    margin: 0 auto;
    padding-top:50px;
  }
  article {


    display: inline-block;
    width: 70%;
    vertical-align: top;


    h2 {
      text-transform: uppercase;
      color: #083452;
      font-family: "oswald";
      font-size: 60px;
      font-weight:normal;
      line-height: 70px;
      padding: 0;
      margin: 0;
    }
    div.byline{
      .avatar {
        width: 18px;
        margin-top: 10px;
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 10px;
        img{

        width: 100%;}
        }
    p {
      display: inline-block;
      font-family: "myriad";
      color: #1D6EB2;
      font-size: 16px;
    }
    a.timestamp{
      display: inline-block;
      color: #A8B6C2;
      font-size: 14px;
      text-decoration: none;

    }
  }
        margin-bottom: 30px;

    }

    aside {
      display: inline-block;
      width:24%;
      margin-left: 5%;
      vertical-align: top;

    .info {
      img {
      margin: 0 30%;
      width: 40%;
      }
    p {
      font-family: "myriad";
      color: #4A85BC;
      font-size: 20px;
      text-align: center;
      text-transform:uppercase;
      padding: 0;
      margin-bottom: 0;
    }
    ul {
      margin-top: 0;
      padding-left: 0;
      text-align: center;
    li{
      font-family: "myriad";
      font-size: 14px;
      display: inline-block;
      a {
        color:#CCD4DB;
        text-decoration: none;
        padding-right: 4px;
      }

      }
    }
    .ad {
      color: #ACBAC5;
      text-align: right;
      font-size: 14px;
      text-decoration: underline;

      img{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
      }


      }
    .sidebar {
      h3{
      padding-top: 54px;
      text-transform: uppercase;
      color:#3583BF;
      font-family: "oswald";
      font-weight: normal;
      margin-bottom: 0;
      }
    h4 {
      font-family: "myriad";
      color: #A2B1BD;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      padding-top: 14px;
      margin: 0;

      }
    }
    }
}
li {
  list-style-type: none;
}
}


//footer//

h5{
  font-family: "oswald";
  color: #083350;
  font-size: 65px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 32px;
  margin-bottom: 36px;
}

.posts {
  .post{
    width: 25%;
    position: relative;
    float:left;
    img {
      width: 100%;

    }
h6 {
  font-family: "oswald";
  color: #073350;
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 30px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 35px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #629FCB;
  opacity: .5;
}
&:hover {
  .overlay{
    opacity: 0;
  }
  h6 {
    color: #fff;
}
  }
}
}
.footer{
  padding-left: 122px;
  background-color: #083452;
    .inner {
    // max-width: 980px;
    // width: 80%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 15px;
    img {
      vertical-align: middle;
      display: inline-block;
      text-align: center;

  }
}
    .copyright {
    color: #A4B4C0;
    font-family: "myriad";
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
    // margin-top: 0;
    // margin-bottom: 8px;

    }
    .nav{
      float: right;
      padding-right: 124px;

    ul {
        text-align: center;

      li{
        font-family: "myriad";
        font-size: 14px;
        display: inline-block;
        padding-right:4px;
        line-height: 30px;

        a {
          color: #90A3B1;
          text-decoration: none;
          border-right: 2px solid #90A3B1;
          padding-right: 4px;

        }
      }
    }
  }
}
